*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}
.card{
    max-width: 470px;
    margin: 100px auto;
    color: #fff;
    text-align: center;
    padding: 37px 35px;
    border-radius: 30px;
    background: linear-gradient(135deg, #a93586, #0cabe5);
}
.search-container{
    display: flex;
    max-width: 400px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
}
.searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
/*hover effect*/
button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
}
/*button pressing effect*/
button:active {
    box-shadow: none;
    transform: translateY(0);
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather .temp{
    font-size: 50px;
    font-weight: bold;
    color: #010711;
    margin-bottom: 15px;
}
.weather h2{
    font-size: 45px;
    font-weight: 700;
    margin-top: -5px;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 50px;

}
.col1 , .col2{
    display: flex;
    align-items: center;
}
.col1 img, .col2 img{
    width: 60px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 25px;
    font-weight: 600;
    position: relative;
    top: -3px;
}
.weather{
    display: none;
}
.error{
    /*border: 1px solid red;*/
    text-align: left;
    margin-left: 12px;
    margin-top: 10px;
    font-size: 15px;
    display: none;
}







